---
layout: default
title: المهارات
lang: ar
---

{% assign skills_data = site.data[page.lang].skills %}

<section class="px-6 pb-24">

  <!-- Header -->
  <div class="flex flex-col gap-0.5 font-ui px-7 pt-5 pb-9 mb-2">
    <div class="flex items-center">
      <div class="text-[clamp(3.5rem,8vw,7.5rem)] font-semibold font-display leading-none -mr-[0.07em]">
        المهارات
      </div>
      <hr class="flex-1 border-b border-gray-600 mx-4">
    </div>
  </div>


  <!-- Categories -->
  <div class="px-7 flex flex-col gap-12">
    {% for category in skills_data.categories %}

    <div class="flex flex-col gap-5">

      <!-- Category divider with inline label -->
      <div class="flex items-center gap-4">
        <div class="h-px w-4 bg-gray-600/50"></div>
          <span class="font-text uppercase tracking-[0.2em] shrink-0">
            {{ category.name }}
          </span>
        <div class="h-px flex-1 bg-gray-600/50"></div>
      </div>

      <!-- Skills grid -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-3">
        {% for skill in category.skills %}
        <div class="group flex flex-col lg:flex-row items-center gap-4 px-4 py-3.5 rounded-2xl
                    border border-white/10 light:bg-primary/8 bg-white/5
                    light:hover:bg-primary/8 hover:bg-white/5 hover:border-white/20
                    transition-all duration-200 min-w-0">
          <i class="ti ti-{{ skill.icon }} text-5xl
                    text-(--text) opacity-60
                    group-hover:opacity-100 transition-opacity duration-200"></i>
          <div class="flex flex-col gap-0.5 min-w-0 flex-1">
            <span class="text-base  font-text text-(--text) leading-snug ">
              {{ skill.name }}
            </span>
            <span class="text-xs font-text light:text-neutral-500  text-neutral-400 leading-snug ">
              {{ skill.desc }}
            </span>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>

    {% endfor %}
  </div>

</section>